.linear{
    text-align: center;
}
div{
    width: 300px;
    height: 100px;
    margin: 4px;
    font-size: 20px;
    padding: 20px;
}
div.gradient1{
    background:linear-gradient(turquoise,black);
}
div.gradient2{
    background:linear-gradient(left,turquoise,black);
}
div.gradient3{
    background:linear-gradient(top left,turquoise,black);
}
div.gradient5{
    background:linear-gradient(turquoise,magenta,black);
}